**/.terraform/**
**/.terraform.lock.**
**/.terraform.tfstate
**/.terraform.tfstate.**
**/crash.log
**/terraform.tfstate
**/terraform.tfstate.**
**/tfplan

**.pyc
__pycache__/**

transform/target/**
transform/logs/**
transform/dbt_packages/**
